* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('math-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(15px);
}

h1 {
    text-align: center;
    padding-top: 10%;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    color: rgba(181, 228, 244, 0.974);
    text-shadow: 0 0 10px rgba(110, 4, 249, 0.974);
    font-size: clamp(3rem, 20vw, 4rem);
    opacity: 0.8;
}

footer {
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-top: 3%;
    font-family: "Roboto", sans-serif;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
    color: rgba(126, 150, 158, 0.974);
}

.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5%;
}

.calc-body {
    border: solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 3, 48, 0.923);
    opacity: 0.8;
    width: 325px;
    /* width: clamp(20rem, 20vw, 35rem); */
    height: 420px;
    padding: 2em;
    border-radius: 2em;
}

input {
    background: none;
    border: solid rgba(0, 255, 255, 0.5);
    width: 100%;
    height: 2em;
    text-align: right;
    padding: 1em 0.3em;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: clamp(1rem, 5vw, 2rem);
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    color: #fcf5ff;
}

.calc-button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em 0.5em;
    padding-top: 0.7rem;
    padding-bottom: 1rem;
}

button {
    background: none;
    border: solid rgba(204, 196, 219, 0.923);
    font-weight: bold;
    border-radius: 0.5em;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 1.5rem;
    width: auto;
    height: 1.8em;
    cursor: pointer;
    transition: background-color 0.25s;
    color: #fcf5ff;

    cursor: pointer;
}

.numberBtn:hover,
.operatorBtn:hover,
.equalBtn:hover {
    background-color: #d9e0e4f5;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    color: #201445;
}
.numberBtn:active,
.operatorBtn:active,
.equalBtn:active {
    background: none;
}

.clearBtn {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-top: 1.5rem;
}

.delete {
    width: 25%;
}
.all-clear {
    width: 75%;
}

.all-clear,
.delete,
.zero {
    background-color:  rgba(156, 247, 255, 0.905);
    border: solid rgba(0, 255, 255, 0.5);
    transition: background-color 0.25s;
    color: #02283ef5;
}

.all-clear:hover,
.delete:hover,
.zero:hover {
    border: solid rgba(0, 255, 255, 0.5);
    transform: scale(1.05);
    background: none;
    box-shadow: 0 0 20px rgb(128, 137, 223);
    color: #fcf5ff;
}
.all-clear:active,
.delete:active,
.zero:active {
    background-color: rgb(128, 137, 223);
}
