* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(23, 27, 61);
}

.calc-body {
    background-color: rgb(99, 106, 154);
    box-shadow: 0 0 10px rgba(0, 3, 48, 0.923);
    width: 325px;
    height: 420px;
    /* margin: 2em 5em; */
    padding: 2em;
    border-radius: 2em;
}

input {
    background: none;
    border: none;
    background-color: rgb(210, 230, 247);;
    width: 100%;
    height: 2em;

    padding: 1em;
    text-align: right;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.calc-button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em 0.5em;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

button {
    background: none;
    border: none;
    font-weight: bold;
    background-color: #b8cedbf5;
    border-radius: 0.5em;
    font-size: 1.5rem;
    width: auto;
    height: 1.8em;
    cursor: pointer;
    transition: background-color 0.25s;

    cursor: pointer;
}

button:hover {
    background-color: #d9e0e4f5;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}
button:active {
    background-color: rgb(255, 255, 255);
}

.clearBtn {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.clearValue {
    width: 25%;
}
.clear {
    width: 75%;
}

.clear,
.clearValue,
.zero {
    background-color:  rgb(40, 46, 100);
    transition: background-color 0.25s;
    color: #b8cedbf5;
}

.clear:hover,
.clearValue:hover,
.zero:hover {
    background-color: rgb(50, 60, 145);
    box-shadow: 0 0 20px rgb(128, 137, 223);
}
.clear:active,
.clearValue:active,
.zero:active {
    background-color: rgb(128, 137, 223);
}
